/ {
    zmk,display {
        compatible = "zmk,display";
        label = "Nice!View";

        screen {
            width = <250>;
            height = <122>;
            bus = <&spi1>;
        };

        widgets {
            battery {
                compatible = "zmk,widget-battery-status";
                x = <0>;
                y = <0>;
                width = <50>;
                height = <20>;
            };

            layer {
                compatible = "zmk,widget-layer-status";
                x = <0>;
                y = <20>;
                width = <250>;
                height = <20>;
            };

            logo {
                compatible = "zmk,widget-logo";
                x = <0>;
                y = <80>;
                width = <250>;
                height = <50>;
            };
        };
    };
};

/ {
    behaviors {
        hold_behavior: hold_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_BEHAVIOR";
            bindings = <&kp>, <&mo>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = < 
                &kp TAB    &kp Q      &kp W      &kp E          &kp R          &kp T    &kp Y       &kp U    &kp I    &kp O    &kp P    &kp BSPC
                &kp LCTRL  &kp A      &kp S      &hold_behavior &kp D &mo 1    &kp F    &kp H       &kp J    &kp K    &kp L    &kp SEMI &kp SQT
                &kp LALT   &kp Z      &kp X      &kp C          &kp V          &kp B    &kp N       &kp M    &kp COMMA &kp DOT &kp SLASH &kp RET
                          &kp LGUI  &mo 1       &kp SPC        &kp RET       &mo 2    &kp RALT
            >;
        };

        layer_1 {
            bindings = <
                &bl TOGGLE  &none    &none    &trans    &none    &none     &none    &none         &kp UP    &none    &none    &none
                &trans      &none    &none    &none     &none    &none     &none    &kp LEFT      &kp DOWN  &kp RIGHT &none    &none
                &trans      &none    &none    &none     &none    &none     &none    &none         &none     &none     &none    &none
                        &trans      &trans    &trans    &trans    &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
                &none       &none    &none    &trans    &none    &none     &none    &mouse_up_left_macro  &mmv MOVE_UP  &none    &none    &none
                &trans      &none    &none    &none     &none    &none     &none    &mmv MOVE_LEFT        &mmv MOVE_DOWN &mmv MOVE_RIGHT  &none
                &trans      &none    &none    &none     &none    &none     &none    &none                 &none         &none     &none    &none
                        &trans      &trans    &trans    &trans    &trans    &trans
            >;
        };
    };
};
